{% extends "layout.html" %}
{% load static %}
{% load text_filters %}
{% load i18n %}

{% block title %}
    {% trans "Донат" %} — {{ strings.TITLE }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="{% trans "Донат" %} — {{ strings.TITLE }}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}/donate/">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/logo_128.png">
    <meta property="og:description" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans "Донат" %} — {{ strings.TITLE }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/logo_128.png">
    <meta name="twitter:image:src" content="{{ request.scheme }}://{{ request.get_host }}/static/images/logo_128.png">
{% endblock %}

{% block body %}
<div class="container">
    <div class="block donate">
        <div class="block-title">
            👍 {% trans "Поддержать автора" %}
        </div>

        <div class="block-description">
            {% trans "Независимые авторы в интернете — вымирающая редкость. Они существуют только благодаря чужой поддержке. Так что если вам нравится то, что я делаю, занести донат — это лучший способ сказать «спасибо»." %}
        </div>
        <br><br><br>
    </div>

    {% if request.LANGUAGE_CODE == "ru" %}
        <div class="block donate-service" id="sbp">
            <div class="donate-service-image">
                <img src="{% static "images/donate/sber.png" %}">
            </div>
            <div class="donate-service-description">
                <br><strong>{% trans "СБП на Сбер" %}</strong><br><br>
                {% blocktrans with sber='<a href="https://www.sberbank.com/sms/pbpn?requisiteNumber=79859585501" target="_blank" rel="noopener">по ссылке</a>'|safe %}
                    Можете просто кликнуть {{ sber }}. Ещё слева есть QR-код, он тоже привязан к Сберу.
                {% endblocktrans %}
            </div>
            <!--
            <div class="donate-service-button">
                <a href="https://www.tbank.ru/cf/7UBE2Mapqik" class="button" target="_blank">
                    💳 {% trans "Донатить" %}
                </a>
            </div>
            -->
        </div>
    {% endif %}

    <div class="block donate-service donate-service-column">
        <div class="donate-service-description">
            <strong>{% trans "Другой вариант — криптой" %}</strong>
        </div>

        <div class="donate-service-selector">
            <div class="donate-service-selector-item">
                <span>{% trans "Bitcoin" %}</span>
                <img src="{% static "images/donate/btc.png" %}" alt="Bitcoin QR code">
                <small>bc1qy64xtk5cax569shgtp02u66ktu9eqgytpsva9n</small>
            </div>

            <div class="donate-service-selector-item">
                <span>{% trans "ETH или USDT ERC-20" %}</span>
                <img src="{% static "images/donate/eth.png" %}" alt="ETH/ERC20 QR code">
                <small>0x5647e964C2f025D1c82253360dE3Cd524CCf1B5d</small>
            </div>

            <div class="donate-service-selector-item">
                <span>TON</span>
                <img src="{% static "images/donate/ton.png" %}" alt="DOT QR code">
                <small>UQCzM8huC3D_PpMR8xu5IuLKADrtxbU95ISJBk9KJel8rCZX</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
