{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{{ strings.TITLE | safe }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ strings.DESCRIPTION }}">
        <meta name="keywords" content="{{ settings.KEYWORDS }}">
        <meta name="author" content="{{ strings.AUTHOR }}">
        <meta name="yandex-verification" content="5f66353ad89fbe6f">
        <meta name="fediverse:creator" content="@subpolare@mastodon.online">
        <meta name="google-site-verification" content="B8zgWa65q_o7zEV-YAA3rmgq4AlT-l37W-2nNbDE6pc">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path_info }}">
        {% block meta %}
            <meta property="og:title" content="{{ strings.TITLE }}">
            <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
            <meta property="og:type" content="website">
            <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
            <meta property="og:description" content="{{ strings.DESCRIPTION }}">

            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="{{ strings.TITLE }}">
            <meta name="twitter:description" content="{{ strings.DESCRIPTION }}">
            <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
            <meta name="twitter:image:src" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
        {% endblock %}
        {% include "common/rss.html" %}
        {% include "common/favicon.html" %}
        {% include "common/styles.html" %}
        {% include "common/scripts.html" %}
        {% block css %}{% endblock %}
        <script>
            (function () {
                const theme = localStorage.getItem('theme') ||
                    (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
                        
                document.documentElement.setAttribute('theme', theme);
                        
                if (window.htmx) {
                    htmx.onLoad(function() {
                        const themeSwitch = document.querySelector('.theme-switcher input[type="checkbox"]');
                        if (themeSwitch) {
                            themeSwitch.checked = (theme === 'dark');
                        }
                    });
                }
            })();
        </script>

        <script defer src="{% static 'js/external-link-favicons.js' %}"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function(m,e,t,r,i,k,a){
                m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();
                for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
                k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
            })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106965864', 'ym');
        
            ym(106965864, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/106965864" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

    </head>
    <body class="{% block body_class %}{% endblock %}" style="{% block body_styles %}{% endblock %}">
        {% block menu %}
            {% include "common/header.html" %}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="footer">
                {% block footer_contacts %}
                    <div class="contacts">
                        <a href="{% trans "mailto:nachatoi@list.ru" %}" class="contacts-item" target="_blank" rel="me">
                            <i class="fas fa-envelope"></i>
                            <span>{% trans "me@subpolare.ru" %}</span>
                        </a>
                        <a href="{% trans "https://t.me/+iKpiYq5RPvoxOGZi" %}" class="contacts-item" target="_blank" rel="me">
                            <i class="fab fa-telegram"></i>
                            <span>{% trans "Телеграм-канал" %}</span>
                        </a>
                        <a href="{% trans "https://t.me/subpolare_blog?direct" %}" class="contacts-item" target="_blank" rel="me">
                            <i class="fa-solid fa-circle-user"></i>
                            <span>{% trans "Телеграм для связи" %}</span>
                        </a>
                    </div>
                {% endblock %}

                <div class="footer-warning">
                    <span>
                        {% blocktrans with club='<a href="https://vas3k.club" target="_blank" rel="noopener">vas3k.club</a>'|safe blog='<a href="https://vas3k.blog" target="_blank" rel="noopener">vas3k.blog</a>'|safe %}
                            Дизайн и код основаны на {{ club }} и {{ blog }} — самом ламповом комьюнити и самом душевном блоге. Они и вдохновили меня создать это место.
                        {% endblocktrans %}
                    </span>
                </div>
                <!--
                <div class="footer-buttons">
                    <label class="theme-switcher button button-inverted button-round header-menu-item header-menu-round" onclick="return toggleTheme(event);" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <span class="slider round"></span>
                    </label>
                </div>
                -->
            </footer>
        {% endblock %}

        {% block js %}{% endblock %}
    </body>
</html>
