{
    email nachatoi@list.ru
    admin off
}

www.subpolare.ru {
    redir https://subpolare.ru{uri}
}

subpolare.ru {
    encode zstd gzip

    @static path /static/* /media/* /favicon.ico /robots.txt
    handle @static {
        root * /srv/www
        file_server
        header {
            Cache-Control "public, max-age=31536000, immutable"
        }
    }

    # все остальное — в Django
    handle {
        reverse_proxy blog_app:8022
    }

    log
}
