{% load i18n %}

<section class="container block">
    <div class="block-title">
        🎞️ {{ block.title }}
    </div>

    <div class="cards-group cards-group-1x">
        {% for item in block.posts %}
            {% with post=item %}
                {% include "posts/cards/horizontal.html" %}
            {% endwith %}
        {% empty %}
            <div class="block-description">
                {% trans "Здесь пока ничего нет" %}
            </div>
        {% endfor %}
    </div>

    {% if block.url %}
        <div class="block-footer">
            <a href="{{ block.url }}" class="button button-inverted">{% trans "Все посты" %}</a>
        </div>
    {% endif %}
</section>
