{% load static %}{% load i18n %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{{ strings.TITLE | safe }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ strings.DESCRIPTION }}">
        <meta name="keywords" content="{{ settings.KEYWORDS }}">
        <meta name="author" content="{{ strings.AUTHOR }}">
        <meta name="yandex-verification" content="5f66353ad89fbe6f">
        <meta name="fediverse:creator" content="@subpolare@mastodon.online">
        <meta name="google-site-verification" content="B8zgWa65q_o7zEV-YAA3rmgq4AlT-l37W-2nNbDE6pc">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path_info }}">
        {% block meta %}
            <meta property="og:title" content="{{ strings.TITLE }}">
            <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
            <meta property="og:type" content="website">
            <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
            <meta property="og:description" content="{{ strings.DESCRIPTION }}">

            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:title" content="{{ strings.TITLE }}">
            <meta name="twitter:description" content="{{ strings.DESCRIPTION }}">
            <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
            <meta name="twitter:image:src" content="{{ request.scheme }}://{{ request.get_host }}/{% static "images/logo_128.png" %}">
        {% endblock %}
        {% include "common/rss.html" %}
        {% include "common/favicon.html" %}
        {% include "common/styles.html" %}
        {% include "common/scripts.html" %}
        {% block css %}{% endblock %}
        
        <script>
            const theme = localStorage.getItem('theme') ||
                  (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('theme', theme);

            htmx.onLoad(function() {
                const themeSwitch = document.querySelector('.theme-switcher input[type="checkbox"]');
                if (themeSwitch) {
                    themeSwitch.checked = (theme === 'dark');
                }
            });
        </script>
    </head>

<div class="header h-card">
    <a href="{% url "index" %}" class="header-logo u-url">
        <img src="{% static "images/logo_square.png" %}" alt="" class="header-logo-image u-photo">
        <span class="header-logo-title p-name">{% trans "subpolare" %}</span>
    </a>

    <div class="button button-inverted button-round header-burger show-on-iphone"
         onclick="return document.getElementById('header-menu').classList.toggle('header-menu-visible');"
    >
        ≡
    </div>

    <div class="header-menu hide-on-iphone" id="header-menu" hx-boost="true">
        <a href="{% url "list_posts" "all" %}" class="button button-inverted header-menu-item">
            <span>✍️</span>
            <span>{% trans "Посты" %}</span>
        </a>
        
        <!--
        {% if request.LANGUAGE_CODE == "ru" %}
            <a href="{% url "list_posts" "world" %}" class="button button-inverted header-menu-item">
                <span>🌍</span>
                <span>{% trans "Путешествия" %}</span>
            </a>
        {% endif %}
        -->

        <a href="{% url "subscribe" %}" class="button button-inverted header-menu-item">
            <span>✨</span>
            <span>{% trans "Подписаться" %}</span>
        </a>

        <!--
        <a href="{% url "donate" %}" class="button button-inverted header-menu-item">
            <span>👍</span>
            <span>{% trans "Донат" %}</span>
        </a>
        
        <div class="button button-inverted button-round header-menu-item header-menu-round" onclick="return toggleHeaderSearch(event, '#header-search');">
            🔍
        </div>
        -->

        <label class="theme-switcher button button-inverted button-round header-menu-item header-menu-round" onclick="return toggleTheme(event);" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div class="header-search header-search-hidden" id="header-search">
    <div class="header-search-form">
        <form action="https://www.google.ru/search?q=site%3A{{ request.get_host }}+">
            <input type="hidden" name="domains" value="{{ request.get_host }}">
            <input type="hidden" name="sitesearch" value="{{ request.get_host }}">
            <input type="text" name="q" placeholder="{% trans "Искать по сайту..." %}" class="header-search-form-input">
            <button type="submit" class="header-search-form-submit">🔍</button>
        </form>
    </div>
</div>
