{% load static %}
{% load i18n %}

<div class="header h-card">
    <a href="{% url "index" %}" class="header-logo u-url">
        <img src="{% static "images/logo.png" %}" alt="" class="header-logo-image u-photo">
        <span class="header-logo-title p-name">{% trans "subpolare" %}</span>
    </a>

    <div class="button button-inverted button-round header-burger show-on-iphone"
         onclick="return document.getElementById('header-menu').classList.toggle('header-menu-visible');"
    >
        ≡
    </div>

    <div class="header-menu hide-on-iphone" id="header-menu" hx-boost="true">
        <a href="{% url "list_posts" "all" %}" class="button button-inverted header-menu-item">
            <span>✍️</span>
            <span>{% trans "Посты" %}</span>
        </a>
        
        <!--
        {% if request.LANGUAGE_CODE == "ru" %}
            <a href="{% url "list_posts" "world" %}" class="button button-inverted header-menu-item">
                <span>🌍</span>
                <span>{% trans "Путешествия" %}</span>
            </a>
        {% endif %}
        -->

        <a href="{% url "subscribe" %}" class="button button-inverted header-menu-item">
            <span>✨</span>
            <span>{% trans "Подписаться" %}</span>
        </a>

        <!--
        <a href="{% url "donate" %}" class="button button-inverted header-menu-item">
            <span>👍</span>
            <span>{% trans "Донат" %}</span>
        </a>
        -->

        <div class="button button-inverted button-round header-menu-item header-menu-round" onclick="return toggleHeaderSearch(event, '#header-search');">
            🔍
        </div>

    </div>
</div>

<div class="header-search header-search-hidden" id="header-search">
    <div class="header-search-form">
        <form action="https://www.google.ru/search?q=site%3A{{ request.get_host }}+">
            <input type="hidden" name="domains" value="{{ request.get_host }}">
            <input type="hidden" name="sitesearch" value="{{ request.get_host }}">
            <input type="text" name="q" placeholder="{% trans "Искать по сайту..." %}" class="header-search-form-input">
            <button type="submit" class="header-search-form-submit">🔍</button>
        </form>
    </div>
</div>
