{% load static %}
{% load i18n %}

<section class="post-footer">
    {% if story.is_members_only %}
        <div class="post-members-share">
            <div class="post-members-share-heart">
                <i class="fas fa-heart"></i>
            </div>
            <div>
                <h3>Как делиться закрытыми постами?</h3>
                <ul>
                    <li>👍 Можно цитировать, делать скриншоты, репостить картинки, и давать ссылки на пост в паблике. Это хорошо и привлекает новых читателей</li>
                    <li>🙅‍♀️ Нельзя воровать весь текст или выкладывать сохранённые страницы. Это плохо и атата</li>
                </ul>
            </div>
        </div>
    {% else %}
        <!--<a href="{% url "donate" %}" class="button button-red button-huuuuge">🍺 {% trans "Поблагодарить автора" %}</a>-->
    {% endif %}

    {% include "common/post_subscribe.html" %}
</section>
